.header {
        background-image: url('/public/white2.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        /* background-attachment: fixed; */
        z-index: -200;
        color:#000;
       
}

/*background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url('/public/img1.jpg');*/

.headerTitle{
    font-size: 70px;
    font-weight: 500;
    color:#000;
    z-index: 200;
    text-align: center;
}

.alignCenter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0;
  position: relative;
}

.text{
  width: 50%;
  margin-top: 45px;
  font-size: 18px;
  line-height: 140%;
  font-weight: 350;
  text-align: center;
}


.btn:hover{
  transform: scale(1.1);
}

.links {
    position: absolute;
    top: 50%;
    left:0;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px 15px;
    box-shadow: 0 2px 2px #000;
   }

.link{
  color:#000;
  font-size: 30px;
  margin: 10px 0;
  transition: 0.2s all;
  opacity: 0.8;
}

.link:hover{
  opacity: 1;
}